<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a new book</title>
  </head>
  <body>
    Please enter the following:

    <% include ./../partials/book_title %>
    <% include ./../partials/book_description %>
    <% include ./../partials/book_cover_url %>
  </body>
</html>
