<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= book[0].title %> </title>
  </head>
  <body>

    <div class="mainContainer">


      <h3>Title</h3>
      <p>
        <%= book[0].title %>
      </p>
      <h3>Description</h3>
      <p>
        <%= book[0].description %>
      </p>
      <h3>Cover</h3>
      <p>
        <%= book[0].cover %>
      </p>
      <!-- i should conver this to use partials. -->


      <% include %>


    </div>

    <div class="includeDelete">

      <% include ./../partials/vaporize_book %>

    </div>

  </body>
</html>
