<!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="cover" value="<%= book.cover %>"></label>
    <div class="col-md-6">
    <input id="coverURL" name="cover" type="text" placeholder="image URL goes here" class="form-control input-md" optional>
    i'm assuming this dips into copyright/fair use since it is an IP's image?
    </div>
  </div>
