<!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="name" value="<%= book.Title %>"></label>
    <div class="col-md-6">
    <input id="title" name="bookTitle" type="text" placeholder="Book title goes here" class="form-control input-md" required>
    </div>
  </div>
