<!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="description" value="<%= book.description %>"></label>
    <div class="col-md-6">
    <input id="description" name="bookDescription" type="textbox" placeholder="Book description here" class="form-control input-md" required>
    note: need to redefine textbox size in public CSS
    </div>
  </div>
