<div class="deleteBookContainer">

  <p>
    Use button below to delete this book from the library.
  </p>
  <h3 class="red">CAUTION</h3>
  <form class="form-horizontal" action="/books/<%= book[0].id %>?_method=DELETE" method="post">


    <% include ./../partials/delete_button %>


  </form>
</div>
