<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index page</title>
    <% include ./partials/header %>
    <link rel="stylesheet" href="/css/index_style.css" charset="utf-8">
  </head>
  <body>
    <!-- <img src="/images/wide_library_room_view.jpeg" alt="" /> -->
    <div class="titleContainer container">
      <h1>    Welcome to the Library </h1>
    </div>

    <% include ./partials/user_action_clump %>

    <div class="linksContainer">
      <ul>
        <li><a href="/books" class="button">Book Collection</a></li>
        <li><a href="/users" class="button">All Users</a></li>
      </ul>

    </div>
  </body>
</html>
