<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In Here</title>
  <% include ./../partials/header %>
  <link rel="stylesheet" href="/css/user_login_style.css" charset="utf-8">
</head>
<body>

  <a href="/" class="button home">Home</a>
  <form action="/users/login" method="post">


    <% include ./../partials/user_email_entry %>
    <% include ./../partials/user_password_entry %>




    <input id="button" type="submit" name="submit" value="Login">

  </form>
</body>
</html>
