<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In Here</title>
</head>
<body>


  <form action="/users/login" method="post">


    <% include ./../partials/user_email_entry %>
    <% include ./../partials/user_password_entry %>




    <input type="submit" name="submit" value="Submit">

  </form>
</body>
</html>
