<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> no title</title>
  </head>
  <body>
    This is the users page.

    <ul>
      <% users.forEach( (user) => { %>
        <li> <% include ./../partials/show_user %> </li>
      <% } ); %>
    </ul>

  </body>
</html>
